<% changesets.each do |changeset| %>
    <div class="changeset <%= cycle('odd', 'even') %>" style="<%= (changeset.comments.downcase.include? 'merge')? 'background: #D3EDD3' : '' %>">
    <p><%= link_to_revision(changeset, changeset.repository,
                            :text => "#{l(:label_revision)} #{changeset.format_identifier}") %><br />
        <span class="author"><%= authoring(changeset.committed_on, changeset.author) %></span></p>
    <div class="wiki">
        <%= textilizable(changeset, :comments) %>
    </div>
    </div>
<% end %>
<% if !@list_of_revisions.nil? && @list_of_revisions.present? %>
  <div class="attachments">
  Ревизии для переноса в основную ветку: <%= @list_of_revisions %>
  </div>
<% end %>